pdfs
docx
pptx
vllm/vllm-native/secret.yaml
streamlit/.odo
streamlit/.streamlit
streamlit/venv
streamlit/.DS_Store
./notebooks-for-ingestion/pdfs/*
./notebooks-for-ingestion/pptx/*
./notebooks-for-ingestion/docx/*
venv
./*/venv
