pdfs
docx
pptx
vllm/vllm-native/secret.yaml
streamlit/.odo
streamlit/.streamlit
streamlit/venv
streamlit/.DS_Store
notebooks-for-ingestion/pdfs/*
notebooks-for-ingestion/pptx/*
notebooks-for-ingestion/docx/*
notebooks-for-ingestion/knowledge_base_data/*
venv
*/venv
*/localdata/*
vllm/vllm-native/localdata/*
